.about-head {
    padding: 25px;
    background-color: #f5f5b1;
    border-radius: 5px;
}

.about-body {
    padding: 25px;
    margin-top: 25px;
    background-color: #ececc3;
    border-radius: 3px;
}

li {
    padding-top: 10px;
}

li:last-child {
    padding-bottom: 20px;
}

p {
    font-size: 1.2em;
}