<div class="row">
  <h2>ABOUT US</h2>
  <p>Revolv and Corvesta Life Insurance Company are among the wholly-owned subsidiaries of Corvesta, Inc. Corvesta also fulfills its mission through a variety of strategic partnerships and investments; including Encara, C3 Jian, Inc. and Healthentic, Inc. Corvesta is a non-stock, nonprofit holding corporation.</p>

  <h3>OUR VALUES:</h3>
  <ul>
    <li>
        <h4>We Are Passionate About Providing Customer Solutions</h4>
        <p>We make challenging decisions to support the evolving need of our customers.</p>
    </li>
    <li>
        <h4>We Care About Each Other </h4>
        <p>We provide a work environment that empowers our employees to balance their professional and personal commitments.</p>
    </li>
    <li>
        <h4>We Are Innovators for Oral Health</h4>
        <p>We promote and provide thought and product leadership in the oral health and related industries.</p>
    </li>
    <li>
        <h4>We Are Accountable to Each Other</h4>
        <p>We respect each other for individual contributions, harness the collective wisdom of our team, and reward those who add value to the organization.</p>
    </li>
    <li>
        <h4>We Are Active in Our Communities</h4>
        <p>We give back to the communities in which we live and serve.</p>
    </li>
  </ul>
  
  
</div>
