
<div class="col-xs-9">
    <div class="jumbotron">
        <h1 class="display-3">Welcome <span class="smaller">to Corvesta!</span></h1>
        <p class="lead">Corvesta provides a platform of resources and strategic alliances for the enterprise to deliver innovative and cost-effective insurance and technology products, services and solutions to the oral health and related industries.</p>
        <hr class="my-4">
        <p>The Corvesta Enterprise is dedicated to advancing oral health through scientific research, technology and benefits.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
</div>

<div class="col-xs-3">
  <app-signin></app-signin>
</div>
